{{! venus.body }}
{{#body}}
  body_type: {{body_type}}
  mass_kg: {{mass_kg}}
  name: {{name}}
  orbital_period_days: {{orbital_period_days}}
  parent: {{parent}}
  radius_km: {{radius_km}}
{{/body}}
