{{! cone.set_head - returns: cone.SetHeadResult }}
{{! Variants: head_updated, error }}
{{#head_updated}}
  cone_id: {{cone_id}}
  new_head: node_id={{new_head.node_id}} tree_id={{new_head.tree_id}}
  old_head: node_id={{old_head.node_id}} tree_id={{old_head.tree_id}}
{{/head_updated}}
{{#error}}{{{message}}}{{/error}}
