{{! mustache.get_template - returns: mustache.MustacheEvent }}
{{! Variants: rendered, registered, template, not_found, templates, deleted, error }}
{{#rendered}}
  output: {{output}}
{{/rendered}}
{{#registered}}
  template: created_at={{template.created_at}} id={{template.id}} method={{template.method}} name={{template.name}} plugin_id={{template.plugin_id}} updated_at={{template.updated_at}}
{{/registered}}
{{#template}}
  template: {{template}}
{{/template}}
{{#not_found}}{{{message}}}{{/not_found}}
{{#templates}}
  templates: {{#templates}}
    created_at={{created_at}} id={{id}} method={{method}} name={{name}} plugin_id={{plugin_id}} updated_at={{updated_at}}{{/templates}}
{{/templates}}
{{#deleted}}
  count: {{count}}
{{/deleted}}
{{#error}}{{{message}}}{{/error}}
