{{! bash.execute - returns: bash.BashEvent }}
{{! Variants: stdout, stderr, exit }}
{{#stdout}}
  line: {{line}}
{{/stdout}}
{{#stderr}}
  line: {{line}}
{{/stderr}}
{{#exit}}
  code: {{code}}
{{/exit}}
