{{! changelog.add }}
{{#entry_added}}
  entry: {{entry}}
{{/entry_added}}

{{#entries}}
  entries: {{#entries}}...{{/entries}}
{{/entries}}

{{#status}}
  current_hash: {{current_hash}}
  entry: {{entry}}
  is_documented: {{is_documented}}
  previous_hash: {{previous_hash}}
{{/status}}

{{#startup_check}}
  current_hash: {{current_hash}}
  hash_changed: {{hash_changed}}
  is_documented: {{is_documented}}
  message: {{message}}
  previous_hash: {{previous_hash}}
{{/startup_check}}

{{#queue_added}}
  entry: {{entry}}
{{/queue_added}}

{{#queue_updated}}
  entry: {{entry}}
{{/queue_updated}}

{{#queue_entries}}
  entries: {{#entries}}...{{/entries}}
{{/queue_entries}}

{{#queue_item}}
  entry: {{entry}}
{{/queue_item}}
