{{! changelog.startup_check }}
{{#startup_check}}
  current_hash: {{current_hash}}
  hash_changed: {{hash_changed}}
  is_documented: {{is_documented}}
  message: {{message}}
  previous_hash: {{previous_hash}}
{{/startup_check}}
