{{! arbor.context_get_handles }}
{{tree_id}} {{tree_ids}} {{new_count}} {{owner_id}} {{scheduled_at}} {{archived_at}} {{refs}} {{node_id}} {{parent}} {{new_id}} {{old_id}} {{tree}} {{skeleton}} {{node}} {{children}} {{path}} {{nodes}} {{handles}} {{leaves}} {{node_ids}} {{render}}